roles/kubernetes/files/kubernetes/server

roles/kubernetes/files/containerd/**
!roles/kubernetes/files/containerd/README.md

roles/kubernetes/files/docker/**
!roles/kubernetes/files/docker/README.md

roles/kubernetes/files/etcd/**
!roles/kubernetes/files/etcd/README.md

roles/kubernetes/files/helm/**
!roles/kubernetes/files/helm/README.md

roles/kubernetes/files/coredns/**
!roles/kubernetes/files/coredns/README.md

roles/kubernetes/files/keepalived/**
!roles/kubernetes/files/keepalived/README.md

roles/kubernetes/files/kernel/**
!roles/kubernetes/files/kernel/README.md

roles/kubernetes/files/kubernetes/**
!roles/kubernetes/files/kubernetes/README.md

roles/kubernetes/files/packages/**
!roles/kubernetes/files/packages/README.md
!roles/kubernetes/files/packages/download.sh

roles/kubernetes/files/ingress-nginx/**
!roles/kubernetes/files/ingress-nginx/README.md
!roles/kubernetes/files/ingress-nginx/nginx-ingress-controller-grafana-dashboard.json

roles/kubernetes/files/ipvs/**
!roles/kubernetes/files/ipvs/README.md

roles/kubernetes/files/rpm/**
!roles/kubernetes/files/rpm/README.md

*.rpm
*.deb
*.tar.gz
*.tar.xz
*.tar.bz2
*.tar.lzma
*.tar.lzma
*.tgz
*_linux_amd64